/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/vendor/bundle/
/tmp/

# rspec failure tracking
.rspec_status

# Gemfile.lock files should not be committed to a gem
Gemfile.lock
Gemfile.*.lock
.vscode/
